
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Bubblegum Sans', cursive;
    line-height: 1.6;
    background-color: #939393;
    color: #333;
    padding: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(47, 87, 146, 0.5);
}

div {
    margin: 10px 0;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

p {
    margin: 10px 0;
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


main {
    margin: 20px 0;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.left-image {
    float: left;
    margin-right: 20px;
    width: 150px; /* Adjust the width as needed */
    height: auto;
}

.right-image {
    float: right;
    margin-left: 20px;
    width: 150px; /* Adjust the width as needed */
    height: auto;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}